.App {
  text-align: center;
}
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #f9fafb;
}

.bg-white {
  background-color: white;
  padding: 12px 16px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.26), 0 1px 1px rgba(0, 0, 0, 0.1);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
li a {
  display: block;
  color: #4d515d;
  text-align: center;
  padding: 3px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: #111;
}
.br-l {
  border-width: thin;
  border-left-style: solid;
  border-left-color: rgba(0, 0, 0, 0.13);
}
.br-b {
  border-width: thin;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.13);
}
.pl-6 {
  padding-left: 1.5rem;
}
.mt-0 {
  margin-top: 0 !important;
}
.m-2 {
  margin: 0.2rem !important;
}
.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}
.m-1 {
  margin: 0.2rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.2rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.2rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.2rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.2rem !important;
}
.mt-4 {
  margin-top: 1.5rem !important;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
.agrey {
  display: block;
  color: #4d515d;
  text-align: center;
  padding: 3px 16px;
  text-decoration: none;
}
a:hover:not(.active) {
  color: #111;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
}

.card-1 {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* .card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} */
.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.card-title {
  margin-bottom: 0.75rem;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.right-row {
  align-items: right;
  justify-content: right;
}
.text-grey {
  color: rgba(0, 0, 0, 0.432);
}
h2 .text-grey {
  color: rgba(0, 0, 0, 0.432);
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.col,
.col-6,
.col-4,
.col-3,
.col-sm-4,
.col-sm-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  span,
  p,
  a {
    font-size: 1vw;
  }
  h3 {
    font-size: 1.2vw;
  }
  h1 {
    font-size: 2.5vw;
  }
  h5 {
    font-size: 0.9vw;
  }
  .center-row {
    align-items: left;
    justify-content: left;
  }
  .nav-hidden{
  display: none !important;
}
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  span,
  p,
  a {
    font-size: 1vw;
  }
  h3 {
    font-size: 1.2vw;
  }
  h1 {
    font-size: 2.5vw;
  }
  h5 {
    font-size: 0.9vw;
  }
  .nav-hidden{
    display: none !important;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  span,
  p,
  a {
    font-size: 1vw;
  }
  h3 {
    font-size: 1.2vw;
  }
  h1 {
    font-size: 2.5vw;
  }
  h5 {
    font-size: 0.9vw;
  }
  .nav-hidden{
    display: block !important;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .center-row {
    align-items: center;
    justify-content: center;
  }
  .nav-hidden{
    display: block !important;
  }
  .col-6-nav {
    -ms-flex: 0 0 50% !important;
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control-subscribe {
  display: block;
  width: 100%;
  padding: 0.375cm 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25cm;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.search {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-danger {
  color: #fff;
  background-color: #ff0000;
  border-color: #ff0000;
}
.btn-grey {
  color: #4b5564;
  background-color: #e5e7eb;
  border-color: #e5e7eb;
}
.border-grey {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.1rem 0.75rem;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.h4,
h4 {
  font-size: 1.5rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.bold {
  font-weight: bold;
}
.color-primary {
  color: #007bff;
}
.mt-5 {
  margin-top: 3rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}
.mt-3 {
  margin-top: 1rem !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.mr-3 {
  margin-right: 1rem !important;
}
.ml-3 {
  margin-left: 1rem !important;
}
form {
  display: block;
  margin-top: 0em;
}
.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.badge-round {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}
.badge-purple {
  color: #3730a3;
  background-color: #e0e7ff;
}
.badge-red {
  color: #bf6188;
  background-color: #fce7f3;
}
.badge-green {
  color: #066047;
  background-color: #d7d8dc;
}
.subscribe-baackground {
  background-color: rgba(17, 24, 39);
}
.absolute {
  position: absolute;
}
.inset-0 {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.color-white {
  color: white;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.edit-btn {
  display: none;
}
.edit:hover .edit-btn {
  display: flex;
}
/* If you like this, be sure to ❤️ it. */
.wrapper {
  height: 100vh;
  /* This part is important for centering the content */
  display: flex;
  align-items: center;
  justify-content: center;
  /* End center */
  background: -webkit-linear-gradient(to right, #834d9b, #d04ed6);
  background: linear-gradient(to right, #834d9b, #d04ed6);
}

.modal-hide {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
  transition: all 0.4s;
}
.modal-show {
  visibility: visible;
  opacity: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
  transition: all 0.4s;
  z-index: 999;
}
.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
}

.modal__footer {
  text-align: right;
}
.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
}
.btn-responsive {
  white-space: normal !important;
  word-wrap: break-word;
}
.bg-footer {
  left: 9rem;
  transform: translateY(-20%);
}
.hidden-overflow {
  overflow: hidden;
}
.img-footer {
  width: 26rem;
  right: 14rem;
  transform: translate(188%, 110%);
  position: relative;
  border-radius: 10px;
  z-index: 99;
  left: 0;
}
.bg-img-footer {
  width: 30rem;
  right: -3rem;
  transform: translateY(-12%);
  position: absolute;
  border-radius: 10px;
}
.btn-subscribe {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375cm 0.75cm;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25cm;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8
}
.btn-secondary {
  color: #fff;
  background-color: #374151;
  border-color: #374151
}
.btn-secondary::-webkit-input-placeholder{
  color: #8A929E;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62
}
.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130
}
.line-height{
  line-height: 1.625;
  color: #AEB2BA;
}
.nav-hidden{
  display: none;
}
